@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Migra";
  src: url("../src/assets/Migra-Extralight.woff2") format("woff2"),
       url("../src/assets/Migra-Extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.migra {
  font-family: "Migra", sans-serif;
}